:root {
    --acero: #CCCCCC;
    --agua: #B0E2FF;
    --bicho: #99CC33;
    --dragon: #AB82FF;
    --electrico: #FFD700;
    --fantasma: #778899;
    --fuego: #FF7F00;
    --hada: #FFB0FF;
    --hielo: #ADD8E6;
    --lucha: #FF6A6A;
    --normal: #DDCCAA;
    --planta: #99FF66;
    --psiquico: #FFB5C5;
    --roca: #CD853F;
    --siniestro: #A9A9A9;
    --tierra: #DEB887;
    --veneno: #CC88BB;
    --volador: #BAAAFF;
}

.card {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0rem 0rem 1rem 0rem;
}

.cardTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: rgba(0, 0, 0, 0.089);
}

.cardName {
    font-size: 1.6rem;
    font-weight: 400;
}
.cardNumber {
    font-size: 1.5rem;
    font-weight: 700;
}

.cardImg {
    display: flex;
    justify-content: center;
}

.pokeImg {
    width: 75%;
    filter: drop-shadow(0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.6));
}

.tipos {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-evenly;
}

.tipo {
    width: 100px;
    text-align: center;
    text-justify: center;
    border-radius: 1rem;
    padding: 0.1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
}

/*  ********************
    * Colores de tipos *
    ********************/

.bug {
    background: var(--bicho);
}

.dragon {
    background: var(--dragon);
}

.electric {
    background: var(--electrico);
}

.fairy {
    background: var(--hada);
}

.fighting {
    background: var(--lucha);
}

.fire {
    background: var(--fuego);
}

.flying {
    background: var(--volador);
}

.ghost {
    background: var(--fantasma);
}

.grass {
    background: var(--planta);
}

.ground {
    background: var(--tierra);
}

.ice {
    background: var(--hielo);
}

.normal {
    background: var(--normal);
}

.poison {
    background: var(--veneno);
}

.psychic {
    background: var(--psiquico);
}

.rock {
    background: var(--roca);
}

.dark {
    background: var(--siniestro);
}

.steel {
    background: var(--acero);
}

.water {
    background: var(--agua);
}