:root {
  --fondo: #c2d9ad;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--fondo);
}

.App {
  padding-top: 1rem;
  background-color: var(--fondo);
}

.logo {
  width: 90%;
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.6));
}

.Espacios {
  padding-bottom: 2rem;
}

.colPoke {
  margin: 0.25rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}